.vscode/settings.json
.vscode/c_cpp_properties.json
a.out
a.exe
IT142/Answer File Project/Windows 10 Business 22H2.iso
IT142/Answer File Project/boot.wim
IT142/Answer File Project/install_Windows 10 Pro.clg
IT142/Answer File Project/install.wim
